 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Funnel+Display:wght@300..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
 *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';

}
body{
    background-color: black;
}
.main{
    background-image: url("assets/bg.jpg");
    height: 644px;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
}
.box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position:absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    margin:  auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    gap: 23px;
    padding:0 30px;
}
.hero> :nth-child(1){
     font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 4px;
    background: gray;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    
}
.red-btn{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.red-btn-sm{
    background-color: red;
    color: white;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding:  7px 101px 8px 14px;
    font-weight: 900;
    color: white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border:1px solid rgba(246, 238, 238, 0.5); 
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secimg{
    position: relative;
}
.secimg img{
    width:400px ;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 400px;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

 section.first> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
 section.first> div :nth-child(2){
    font-size: 20px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color:black;
    color: white;
    padding: 34px;
}
.faq-box{
    display: flex;
    background-color:#2d2d2d;
    padding: 24px;
    font-size: 24px;
    max-width: 60vw;
    color: white;
    margin:  34px auto;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: -20px;
    transition: all 2s ease-out;
    
}
.faq-box svg{
    filter: invert(1);

}
.faq-box:hover{
    background-color:rgb(138, 136, 136);
}
footer{
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 60px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.question{
    padding:34px 0;
}

.footer a{
    color: white;
    font-size: 14px;
}
@media screen and (max-width:800px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secimg img{
    width:300px ;
}
    .secimg video{
    width: 300px;
}
.hero-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.faq h2{
    text-align: center;
    font-size: 32px;
}
footer{
    /* max-width: 90vw; */
    
}
.footer-item{
    align-items: center;
}
}
@media screen and (max-width:800px){
    .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 40px;
}
.hero> :nth-child(1){
    font-size: 25px;
}
.hero> :nth-child(2){
    font-size: 19px;
}
.hero> :nth-child(3){
    font-size: 20px;
}

}
